    html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    
    }
    h1 h2 {
        font-family: 'Times New Roman', Times, serif;
    }
    /* styles.css */
    
    #logo {
    height: auto;
    margin: 5px auto;
    border-radius: 5px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    width: 70px; /* Ajusta según sea necesario */
    margin-right: 0; /* Espacio entre la imagen y el texto */
    margin-left: 0;
    }

    #Encabezado {
    position:fixed;
    display: flex;
    align-items: center; /* Alinea el contenido verticalmente */ 
    top: 0; /* Ubicación en la parte superior */
    left:   0; /* Alineado al borde izquierdo */
    width: 100%; /* Para que ocupe todo el ancho */
    z-index: 1000; /* Asegúrate de que esté por encima de otros elementos */
    background: linear-gradient(to bottom, #3c3c3c 40%, #849085 80%); /* Verde a Marrón */

    }

    

    /*Esta es la animación del encabezado*/
    @keyframes flicker {
        0% { opacity: 1; }
        50% { opacity: 0.5; }
        100% { opacity: 1; }
    }
    /*Aquí se modifica el encabezado:*/
    #texto-encabezado{
        font-family: 'Times New Roman', Times, serif;
        color: #efefef;
        text-shadow: 0 0 5px hsl(123, 100%, 46%), 0 0 10px #00fa1d;
        animation: flicker 1s infinite alternate;
        font-size: 30px ;
        margin-left: 20px;
        
    }

    /*Aquí se modifica el pie de pagina*/
    #Piedepagina{
        background-color: white;
    }


    .plantilla {
    
    display: flex;
    flex-direction: column; /* Asegura que los hijos se coloquen en columnas */ 
    min-height: 100vh; /* Garantiza que ocupe la altura completa de la pantalla */
    background-color: #797979;

    }

    /*Aquí se manejan los efectos de inicio*/
    .contenidoPrincipal {
        flex: 1; /* Hace que esta sección crezca y ocupe el espacio restante */
        padding: 0px;
    }

/* Pie de página */
#Piedepagina {
    text-align: center;      /* Centra el texto */
    background-color: #797979; /* Color de fondo del pie de página (puedes personalizarlo) */
    color: white;            /* Color del texto */
    padding: 10px;           /* Espaciado interno */
    font-size: 14px;         /* Tamaño del texto */
    }