
#Titulo{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    text-align: center;
    color:white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);  /*Se le pone sombra gris al texto*/
    font-size: 50px;
    
}



#primerTexto{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    color:white;
    font-size: 22px;
    padding: 0px 300px 0px 300px; /* Arriba, derecha, abajo, izquierda */
    
}


#SubTitulo{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);  /*Se le pone sombra gris al texto*/
    font-size: 30px;
    margin: 600px;
    
}

/*Aquí se modifican las secciones de inicio----------------------------------------------------*/
.Secciones{
    display: flex;
    margin-left: 30px;
}



/* Estilo para el fondo */
.contenedor-fondo {
    background-image: url("https://www.enelgreenpower.com/content/dam/enel-egp/immagini/learning-hub/energia-geotermica/Hero_Image-energia-geotermica.jpg.resize.2880.2000.center.center@2x.jpeg");
    width: 100%;                /* El ancho ocupa todo el contenedor */
    height: 120vh;              /* La altura ocupa todo el alto de la pantalla */
    background-size: cover;     /* La imagen cubre todo el fondo */
    background-position: center; /* Centra la imagen en el fondo */
}

html {
    scroll-behavior: smooth;  /* Esto hace que el desplazamiento sea suave */
}

.links {
    position: fixed;
    bottom: 0; /* Los coloca en la parte inferior */
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 15px;
    text-align: center;
}

.links a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin: 0 20px;
    font-size: 18px;
}


 
