

.error-message {
  color: #ff0d00;
  text-align: center;
  font-weight: bold;
  margin-top: 20px;
}



/* Aquí estamos asegurando el espacio entre las tablas */
#tabalPincipal {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px auto;
  width: 100%; /* Ancho flexible */
  max-width: 1350px; /* Tamaño máximo */
  padding: 20px;
  box-shadow: 0px 10px 20px rgba(9, 255, 0, 0.5);
  border-radius: 10px;
  background-color: #fff; /* Fondo blanco */
  text-align:center;

}

#tabalPincipal thead {
  display: table;
  width: 100%;
  table-layout: fixed;
  position: sticky;
  background-color: #3bd640;
  color: #135e09;
}

#cabezeraTabla {
  padding: 15px;
  text-align: center;
  font-size: 14px;
  letter-spacing: 1px;

}

#tabalPincipal tbody {
  display: block;
  width: 100%;
}

#tabalPincipal tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

#cuerpoTabla {  /*Modificar los bordes de las celdas y etc*/
  padding: 12px;
  font-size: 14px;
  border: 1px solid #000;
  word-wrap: break-word;
  text-align: center;
}

#tabalPincipal tbody tr:nth-child(odd) {/*Ponerle color primario a las celdas*/
  background-color: #b5ffb1;
  width: 100%;

}

#tabalPincipal tbody tr:nth-child(even) { /*Ponerle color secundario a las celdas*/
  background-color: #fff;
}

#tabalPincipal tbody tr:hover {/*Al momento de pasar el mouse por encima, que la celda cambie de color*/
  background-color: #007515;
  cursor: pointer;
}

#tabalPincipal tbody tr:hover td { /*Al momento de pasar el mouse por encima, que la letra cambie de color*/
  color: #fff;
}


#pais{
  color:rgb(0, 0, 0);
  font-size: 25px;
  font-family: Arial, sans-serif;
  text-align: center;
}

#año{
  color:rgb(0, 0, 0);
  font-size: 25px;
  font-family: Arial, sans-serif;
  text-align: center;
}

#primer-selector{
  text-align: center;
}

#pais2{
  color:rgb(0, 0, 0);
  font-size: 25px;
  font-family: Arial, sans-serif;
  text-align: center;
}

#año2{
  color:rgb(0, 0, 0);
  font-size: 25px;
  font-family: Arial, sans-serif;
  text-align: center;
}

#segundo-selector{
  text-align: center;
}

/* Tabla de la calculadora */


/* Contenedor principal */
.calculadora-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 50px;
  font-family: Arial, sans-serif;
}


#subTitulo3 { /* Titulo */
  text-align: center; 
  font-size: 24px;
  margin-bottom: 20px;
  color: #000000;
}

.formulario-container label {
  font-size: 16px;
  margin-bottom: 10px;
}

.formulario-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}


.formulario-container input {
  padding: 8px;
  font-size: 16px;
  width: 60%;
  margin-bottom: 20px;
  border-radius: 500px;
  border: 1px solid #ccc;
}

.resultados-container h2 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #fa0000;
}


.resultados-container {
  text-align: center;
}


button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 0 10px;
  color: white;
  text-shadow: 2px 2px rgb(116, 116, 116);
  text-transform: uppercase;
  cursor: pointer;
  border: solid 2px black;
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 17px;
  background-color: hsl(49deg 98% 60%);
  border-radius: 50px;
  position: relative;
  overflow: hidden;
  transition: all 0.5s ease;
}

button:active {
  transform: scale(0.9);
  transition: all 100ms ease;
}

button svg {
  transition: all 0.5s ease;
  z-index: 2;
}

.play {
  transition: all 0.5s ease;
  transition-delay: 300ms;
}

button:hover svg {
  transform: scale(3) translate(50%);
}

.now {
  position: absolute;
  left: 0;
  transform: translateX(-100%);
  transition: all 0.5s ease;
  z-index: 2;
}

button:hover .now {
  transform: translateX(10px);
  transition-delay: 300ms;
}

button:hover .play {
  transform: translateX(200%);
  transition-delay: 300ms;
}



.tabla-resultados {
  width: 100%;
  margin-top: 50px;
  margin-bottom: 30px; /* Espacio debajo de la tabla */
  border-collapse: collapse;
}

.tabla-resultados th,
.tabla-resultados td {
  padding: 12px;
  text-align: center;
  border: 1px solid #000000;
}

.tabla-resultados th {
  background-color: #48b54c;
  color: rgb(0, 0, 0);
}

.tabla-resultados tr:nth-child(even) {
  background-color: #949393;
}

.tabla-resultados tr:hover {
  background-color: #02aa26;
}



/* Contenedor principal de los filtros */
.filtros-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /*separacion de secciones*/
  justify-content: center;
  align-items: center;
  padding: 5px;
  background: linear-gradient(135deg, #777777, #dedddd);
  border-radius: 100px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 50px;
}

/* Contenedor principal de los filtros */
.filtros-container2{
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /*separacion de secciones*/
  justify-content: center;
  align-items: center;
  padding: 5px;
  background: linear-gradient(135deg,  #dedddd, #777777 );
  border-radius: 100px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 50px;
}

/* Estilo individual para filtros */
.filtro {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 300px;
}

/* Etiquetas de los filtros */
.filtro-label {
  font-size: 25px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

/* Selectores de los filtros */
.filtro-select {
  width: 250px;
  color: #555;
  border-radius: 8px; 
  background-color: #fff;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.filtro-select:hover,
.filtro-select:focus {
  border-color: #4caf50;
  box-shadow: 0 0 8px rgba(76, 175, 80, 0.4);
  outline: none;
}




